<!Doctype html>
<html>
<head>
    <title>HomePage</title>
</head>
<body>
    <h1>This is about page</h1>
    <%= link_to 'Home', root_path %>
    <br /><br />
    <div>
        <%= image_tag("Rails.png", width: 'auto', height: 'auto') %>
    </div>
</body>
</html>