<!Doctype html>
<html>
<head>
    <title>HomePage</title>
</head>
<body>
    <h1>Welcome User</h1>
    <%= link_to 'Alpha Blog RubyRails', articles_path %> | 
    <%= link_to 'About', about_path %>
    <br /><br />
    <div>
        <%= image_tag("Rails.png", width: 'auto', height: 'auto') %>
    </div>
</body>
</html>